section#index-main-section.index-section.rellax(data-rellax-speed="-5")
  svg.index-back#index-back-0-left(viewBox="0 0 1100 702" xmlns="http://www.w3.org/2000/svg" fill="#1E88A888")
  svg.index-back#index-back-0-right(viewBox="0 0 1100 702" xmlns="http://www.w3.org/2000/svg" fill="#1E88A888")
  img.index-fore-img.rellax(src="/assets/theme/img/icho1.svg" data-rellax-speed="1" style="top: 28vw; left: 74vw; width: 11.5vw")
  img.index-fore-img.rellax(src="/assets/theme/img/icho2.svg" data-rellax-speed="1.5" style="top: 30vw; left: 84vw; width: 14vw")
  img.index-back-img.rellax(src="/assets/theme/img/back1.svg" data-rellax-speed="-1.5" style="top: 0; left: 0; width: 100vw")
  img.index-back-img.rellax(src="/assets/theme/img/back2.svg" data-rellax-speed="-1" style="top: 8vw; left: 0; width: 100vw")
  #index-main-section-content
    h1 #{theme.top_page.project_name}
    h3 #{theme.top_page.project_description}
    a(href="/")
      | Go to Description&nbsp;
      i.fas.fa-angle-right
- for (let [i, sec] of theme.top_page.sections.entries())
  section(
    class=`index-section index-normal-section index-section-${i % 2 === 0 ? 'even' : 'odd'} index-section-${i + 1}`
  )
    //- if (i === 0 || i === 1) {
    //- }
    case i
      when 0
        img.index-sec-image(src=`/assets/theme/img/index-section-${i + 1}.svg` class=`index-sec-image-${i}`)
        //- svg.index-back#index-back-1(viewBox="0 702 1440 600" xmlns="http://www.w3.org/2000/svg" fill="rgba(255, 255, 245, 0.5)" preserveAspectRatio="none")
        //- img#kingyo(src="/assets/theme/img/kingyo.svg" width="106" height="142")
      when 1
        img.index-sec-image(src=`/assets/theme/img/index-section-${i + 1}.svg` class=`index-sec-image-${i}`)
        //- svg.index-back#index-back-2(viewBox="0 1302 1440 600" xmlns="http://www.w3.org/2000/svg" fill="rgba(174, 229, 248, 0.5)" preserveAspectRatio="none")
      when 2
        img.index-sec-image.rellax(
          src=`/assets/theme/img/index-section-${i + 1}.svg`
          class=`index-sec-image-${i + 1}`
          data-rellax-speed="2"
          data-rellax-percentage="-0.1")
    .index-sec-separator
    .index-sec-content
      h2 #{sec.title}
      = sec.description
script(src="/js/rellax.min.js")
!= js('js/home')
