header#header
  h2
    if (isWiki())
      a(href="/Team:UTokyo") #{config.title}
    else
      a(href="/") #{config.title}
  nav.header-nav-pc 
      - for (let i in theme.menu)
        -var index = 0;
        li(id="menu")
          -if (!theme.menu[i].submenus)
            a(href=theme.menu[i].link id="link") #{i}
          -else
            span(id="link", @mouseover=`openMenu('${i}')` @mouseleave="closeMenu") #{i}
              ul(style={top:"40px"} id="submenu" ,:class=`{ active:isOpen==='${i}'}`)
                - for (let j in theme.menu[i].submenus)
                  -index = index + 1;
                  li(style={top:`${index*30}px`}) 
                    a(href=theme.menu[i].submenus[j]) #{j}
                
  nav.header-nav-mobile(@click="toggleMenu")
    span(:class="{ active: !isMenuActive }")
      i.fas.fa-bars
    span(:class="{ active: isMenuActive }")
      i.fas.fa-chevron-up
  div.header-menu(:class="{ 'header-menu-active': isMenuActive }")
    - for (let i in theme.menu)
      a(href=theme.menu[i].link) #{i}  
  script.
    const headerApp = new Vue({
      el: '#header',
      data: {
          isMenuActive: false,
          isOpen:""
      },
      methods: {
        toggleMenu() {
          this.isMenuActive = !this.isMenuActive
        },
        openMenu(value) {
          console.log(this.isOpen);
          this.isOpen = value;
        },
        closeMenu() {
          console.log(this.isOpen);
          this.isOpen = "";
        }
      }
    });
